$color_black: #000;
$color-aqua: #0eb493;
$color-dark: #182627;
$color-green: #21c87a;
$box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


@mixin d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.loadind{
  @include d-flex();
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000000000000000;
  background-color: #fff;

}

@import "base";
@import "header";
@import "product";
@import "features";
@import "works";
@import "about";
@import "contact";
@import "footer";






//start section product


//end section product


//start style section features

//end style section features


//start style section works-------


//end style section works---------


//start style section team-------


//end style section team-------


//start section facts


//ens section facts


//start style section discuss



//end style section discuss


//start footer


//end footer

//start reponsive style----------------------------------------------------------------------



//start reponsuive-------------------------------------------------------------------------------
